.layout {
    margin: 0 100px;
}

.header {
    background-color: rgb(122, 36, 36);
    padding: 20px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;

}

.logo {
    color: rgba(245, 239, 239, 0.78);
    font-size: 30px;
    margin: 0;
}

.username {
    font-size: 18px;
    color: rgba(245, 239, 239, 0.78);
    cursor: pointer;
}

.content {
    height: 85vh;
    box-shadow: 0 0 3px gray;
    margin-top: 20px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    padding: 15px;
    overflow-y: scroll;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

@media screen and (max-width: 700px) {
    .layout {
        margin: 0 15px;
    }
}